@mixin aligncenter {
  margin: 0 auto;
}

@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
body{
  min-width: 1240px;
}
$pcolor: #515151;
$bgcolor: #f4f4f4;
$fontf: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun,
  Heiti, sans-serif;
$fontf2: "PingFang SC", "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", Arial,
  Helvetica, sans-serif, "\5B8B\4F53";
.whitebg {
  background-color: #fff;
}
.blackpink {
  color: #333 !important;
}
.notshow {
  display: none;
}
.top-nav-wrap {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eee;
  .top-nav {
    width: 1240px;
    height: 80px;
    @include aligncenter;
    .top-nav-left {
      width: auto;
      height: auto;
      float: left;
      svg {
        width: 125px;
        height: 80px;
      }
    }
    .top-nav-right {
      width: auto;
      height: 80px;
      float: right;
      .top-nav-right-uldown {
        .top-nav-right-ul {
          width: auto;
          height: 80px;
          line-height: 80px;
          float: left;
          .navitem {
            width: auto;
            height: 80px;
            float: left;
            a {
              font-size: 14px;
              padding: 31px 20px 30px 20px;
              font-family: $fontf;
              color: #000;
              &:hover {
                color: #008cff;
                // font-size: 30px;
              }
            }
          }
        }
        .hoverdownwrap {
          width: 100%;
          height: auto;
          position: absolute;
          top: 80px;
          left: 0px;
          z-index: 90;
          border-bottom: 1px solid #eee;
          background-color: #fff;
          display: none;
          .hoverdown {
            width: auto;
            height: auto;
            margin-bottom: 10px;
            .hoverdown-content {
              width: 1160px;
              height: auto;
              margin: 0 auto;
              li {
                width: 120px;
                height: 180px;
                margin: 0 11px;
                float: left;
                img {
                  width: 120px;
                  height: 120px;
                }
                p {
                  width: 120px;
                  height: 20px;
                  text-align: center;
                  color: $pcolor;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
            .the9 {
              width: 1260px;
              img {
                width: 1260px;
                height: 305px;
              }
            }
          }
        }
      }
      .top-nav-right-inp {
        float: left;
        width: 170px;
        height: 30px;
        border: 1px solid #999;
        border-radius: 20px;
        margin: 23px 5px 0 10px;
        line-height: 29px;
        background-color: #fff;
        position: relative;

        input {
          width: 127px;
          height: 20px;
          border: none;
          font-size: 12px;
          box-sizing: border-box;
          position: absolute;
          top: 5px;
          left: 13px;
        }
        i {
          position: absolute;
          top: 8px;
          right: 12px;
          font-size: 15px;
          color: #515151;
        }
      }
      .top-nav-right-people {
        float: left;
        width: 29px;
        height: 29px;
        padding-top: 27px;
        margin-left: 8px;
        position: relative;
        &:hover .people-down {
          display: block;
        }
        img {
          width: 29px;
          height: 29px;
        }

        .people-down {
          display: none;
          &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: 10px solid;
            border-color: transparent transparent #fff;
            position: absolute;
            top: 47px;
            left: 0;
          }

          .people-down-ul {
            width: 98px;
            height: 115px;
            background-color: #fff;
            margin-left: 48px;
            padding: 15px 0;
            position: absolute;
            top: 63px;
            left: -85px;

            li {
              width: 98px;
              height: 18px;
              line-height: 18px;
              text-align: center;
              margin-bottom: 15px;

              a {
                color: #515151;
                &:hover {
                  color: #3ba7ff;
                }
              }
            }
          }
        }
      }
      .top-nav-right-buycar {
        float: left;
        width: 29px;
        height: 29px;
        padding-top: 27px;
        margin-left: 8px;
        position: relative;
        &:hover .buycar-down {
          display: block;
        }
        img {
          width: 29px;
          height: 29px;
        }
        .buycar-down {
          display: none;
          &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: 10px solid;
            border-color: transparent transparent #fff;
            position: absolute;
            top: 45px;
            left: 0;
          }
          .buycar-down-ul {
            width: 360px;
            height: 85px;
            background-color: #fff;
            margin-left: 48px;
            padding: 15px 0;
            position: absolute;
            top: 65px;
            left: -380px;

            .bear {
              width: 100px;
              height: 80px;
              background-color: #0f0;
              position: absolute;
              z-index: 100;
            }
          }
        }
      }
    }
  }
}

.detail {
  width: 1240px;
  height: 801px;
  margin: 0 auto;
  font-family: &fontf;
  // background-color: #eee;
  margin-top: 10px;
  .detail-left {
    width: 560px;
    height: auto;
    float: left;
    .detail-left-bigimg {
      img {
        width: 560px;
        height: 560px;
      }
    }
    .detail-left-smallimg {
      width: 536px;
      height: 106px;
      margin-top: 10px;
      margin-left: 24px;
      img {
        width: 80px;
        height: 80px;
        float: left;
        margin: 0 24px;
      }
    }
    .detail-left-coll {
      width: 560px;
      height: 47px;
      .collection {
        width: 24px;
        height: 34px;
        color: #bfbfbf;
        padding: 10px 56px 0;
        text-align: center;
      }
    }
  }
  .detail-right {
    width: 640px;
    height: auto;
    float: left;
    margin-left: 40px;
    margin-top: 18px;
    h1 {
      padding-top: 25px;
      color: #262626;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 4px;
    }
    p {
      height: auto;
      color: #e22841;
      font-size: 14px;
      font-family: "PingFang SC", "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei",
        Arial, Helvetica, sans-serif, "\5B8B\4F53";
    }
    .redbanner {
      width: 620px;
      height: 42px;
      margin-top: 12px;
      padding: 0 10px;
      background: url("../image/detail/red.png") no-repeat;
      .redbanner-tit {
        float: left;
        color: #fff;
        font-size: 16px;
        height: 42px;
        line-height: 42px;
      }
      h3 {
        float: right;
        font-size: 12px;
        color: #fff;
        height: 42px;
        line-height: 42px;
        span {
          font-size: 16px;
        }
      }
    }
    .redbanner-price {
      width: 640px;
      height: 75px;
      padding: 10px 0 15px;
      background: #f4f6fa;
      .rmb1 {
        color: #e02b41;
        font-size: 24px;
        font-weight: 500;
        margin-left: 5px;
      }
      .price1 {
        color: #e02b41;
        font-size: 36px;
        font-weight: 500;
        font-family: "PingFang SC", "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei",
          Arial, Helvetica, sans-serif, "\5B8B\4F53";
      }
      .delprice {
        text-decoration: line-through;
        color: #999;
        font-size: 14px;
        margin-top: 15px;
        margin-right: 10px;
        font-family: "PingFang SC", "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei",
          Arial, Helvetica, sans-serif, "\5B8B\4F53";
      }
      .last-line {
        color: #e02b41;
        font-size: 14px;
        padding: 8px 0 0px;
        .youhui {
          padding: 4px 15px;
          font-size: 14px;
          background-color: #f2eaef;
          margin: 0 10px;
        }
        .more {
          color: #008cff;
          margin-left: 10px;
        }
      }
    }
    .detail-right-part1 {
      width: 640px;
      // height: auto;
      height: 80px;
      padding: 18px 0;
      color: #8c8c8c;
      font-size: 12px;
      border-bottom: 1px dashed #dedede;
      .property-service-item {
        width: 640px;
        height: 20px;
        margin-bottom: 15px;
        .part1dt {
          width: 65px;
          height: 17.6px;
          float: left;
          margin-left: 10px;
          .s-space {
            padding: 10px 6px 0;
          }
        }
        .part1dd {
          float: left;
          span {
            margin-right: 20px;

            i {
              font-size: 16px;
              margin-right: 8px;
            }
          }
          .position {
            font-size: 14px;
            color: #262626;
            float: left;
          }
          .position-down {
            font-size: 20px;
            color: #262626;
            float: left;
            margin-left: 10px;
          }
        }
      }
      .property-service-provider {
        margin-left: 64px;
        a {
          color: #008cff;
        }
      }
    }

    .detail-right-part2 {
      .xiangguan {
        width: 640px;
        height: auto;
        margin-top: 20px;
        overflow: hidden;
        .part2-tit {
          width: 65px;
          height: 41.6px;
          line-height: 41.6px;
          margin-left: 10px;
          float: left;
          font-size: 12px;
          color: #8c8c8c;
          position: relative;
          p {
            width: 16px;
            height: 17.6px;
            position: absolute;
            top: 15px;
            left: 24px;
          }
        }
        .part2-cont {
          width: 565px;
          height: auto;
          float: left;
          .part2-cont-box {
            width: 176px;
            height: 41px;
            line-height: 41px;
            text-align: center;
            // border: 1px solid #595959;
            // color: #595959;
            border: 1px solid #bfbfbf;
            color: #bfbfbf;
            margin: 0 10px 10px 0;
            float: left;
            font-size: 14px;
            border-radius: 2px;
          }
        }
      }
      .yanse {
        width: 640px;
        height: auto;
        margin-top: 10px;
        overflow: hidden;
        .part2-tit {
          width: 65px;
          height: 41.6px;
          line-height: 41.6px;
          margin-left: 10px;
          float: left;
          font-size: 12px;
          color: #8c8c8c;
          position: relative;
          p {
            width: 16px;
            height: 17.6px;
            position: absolute;
            top: 15px;
            left: 24px;
          }
        }
        .part2-cont {
          width: 565px;
          height: auto;
          float: left;
          .part2-cont-box {
            width: 176px;
            height: 41px;
            line-height: 41px;
            text-align: center;
            // border: 1px solid #000;
            border: 1px solid #bfbfbf;
            color: #bfbfbf;
            margin: 0 10px 10px 0;
            float: left;
            font-size: 14px;
            border-radius: 2px;
            img {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
      .huabei {
        width: 640px;
        height: auto;
        margin-top: 10px;
        overflow: hidden;
        .part2-tit {
          width: 65px;
          height: 41.6px;
          line-height: 41.6px;
          margin-left: 10px;
          float: left;
          font-size: 12px;
          color: #8c8c8c;
          position: relative;
          p {
            width: 16px;
            height: 17.6px;
            position: absolute;
            top: 15px;
            left: 24px;
          }
        }
        .part2-cont {
          width: 565px;
          height: auto;
          float: left;
          .part2-cont-box {
            width: 176px;
            height: 41px;
            line-height: 41px;
            text-align: center;
            // border: 1px solid #000;
            border: 1px solid #bfbfbf;

            border-radius: 2px;
            margin: 0 10px 10px 0;
            padding: 7px 0;
            font-size: 14px;
            float: left;
            h2 {
              width: 100%;
              height: 18px;
              padding: 0;
              line-height: 18px;
              // color: #595959;
              color: #bfbfbf;
              font-size: 14px;
              font-weight: normal;
              font-family: $fontf;
            }
            h3 {
              width: 100%;
              height: 18px;
              line-height: 18px;
              padding-top: 3px;
              // color: #8c8c8c;
              color: #bfbfbf;
              font-size: 12px;
              font-weight: normal;
              font-family: $fontf;
            }
          }
        }
      }
      .jiajian {
        width: 640px;
        height: auto;
        margin-top: 10px;
        overflow: hidden;
        .part2-tit {
          width: 65px;
          height: 41.6px;
          line-height: 41.6px;
          margin-left: 10px;
          float: left;
          font-size: 12px;
          color: #8c8c8c;
          position: relative;
          p {
            width: 16px;
            height: 17.6px;
            position: absolute;
            top: 15px;
            left: 24px;
          }
        }
        .part2-cont {
          width: 565px;
          height: auto;
          float: left;
          .part2-shuliang {
            width: 122px;
            height: 38px;
            border: 1px solid #e0e0e0;
            cursor: pointer;
            .jian {
              width: 30px;
              height: 38px;
              line-height: 38px;
              background-color: #f7f7f7;
              float: left;
              text-align: center;
              font-size: 14px;
              font-weight: normal;
              font-family: "PingFang SC", "\5FAE\8F6F\96C5\9ED1",
                "Microsoft Yahei", Arial, Helvetica, sans-serif, "\5B8B\4F53";
            }
            .shu {
              width: 60px;
              height: 38px; line-height: 38px;
              float: left;
              border-left: 1px solid #e0e0e0;
              border-right: 1px solid #e0e0e0;
              text-align: center;
              font-size: 14px;
              font-weight: normal;
              font-family: "PingFang SC", "\5FAE\8F6F\96C5\9ED1",
                "Microsoft Yahei", Arial, Helvetica, sans-serif, "\5B8B\4F53";
            }
            .jia {
              width: 30px;
              height: 38px;
              line-height: 38px;
              background-color: #f7f7f7;
              float: left;
              text-align: center;
              font-size: 14px;
              font-weight: normal;
              font-family: "PingFang SC", "\5FAE\8F6F\96C5\9ED1",
                "Microsoft Yahei", Arial, Helvetica, sans-serif, "\5B8B\4F53";
            }
          }
        }
      }
    }

    .detail-right-part3 {
      margin-top: 50px;
      margin-left: 10px;
      .part3-btn1 {
        background-color: #008cff;
        width: 208px;
        height: 24px;
        padding: 15px 0;
        border: 1px solid #008cff;
        margin-right: 20px;
        text-align: center;
        font-size: 20px;
        font-family: $fontf2;
        float: left;
        color: #fff;
        border-radius: 2px;
      }
      .part3-btn2 {
        width: 208px;
        height: 24px;
        padding: 15px 0;
        border: 1px solid #008cff;
        margin-right: 20px;
        text-align: center;
        font-size: 20px;
        font-family: $fontf2;
        color: #008cff;
        float: left;
        border-radius: 2px;
      }
    }
  }
}

.datu {
  width: 100%;
  height: auto;
  margin-top: 80px;
 
  overflow: hidden;
  background-color: #f7f7f7;
  .datucenter {
    width: 1240px;
    height: auto;
    margin: 0 auto;
    .datu-line1 {
      width: 100%;
      height: 60px;
      overflow: hidden;
      .datu-nav {
        width: 74px;
        height: 58px;
        line-height: 58px;
        color: #000;
        font-size: 14px;
        text-align: center;
        margin-right: 95px;
        float: left;
      }
      .selthis {
        border-bottom: 2px solid #000;
      }
    }
    .datu-line2 {
      width: 100%;
      height: auto;
      overflow: hidden;
      margin-top: 15px;
      background-color: #0f0;
      margin-bottom: 100px;
      img {
        width: 1240px;
        height: auto;
      }
    }
  }
}
.footer {
  width: 100%;
  height: auto;
  padding: 48px 0 0px 0;
  .footer-center {
    width: 1260px;
    height: 200px;
    margin: 0 auto;
    .footer-server {
      width: 1260px;
      height: 84px;
      position: relative;
      .footer-server-item {
        width: 150px;
        height: 68px;
        float: left;
        img {
          width: 50px;
          height: 39px;
          display: block;
          margin: 0 auto;
        }
        p {
          width: auto;
          height: 30px;
          line-height: 30px;
          color: #999;
          font-size: 12px;
          text-align: center;
        }
      }
      .kefu {
        width: 158px;
        height: 102px;
        font-family: Helvetica, Tahoma, Arial, Hiragino Sans GB, Microsoft YaHei,
          SimSun, Heiti, sans-serif;
        position: absolute;
        top: -10px;
        right: 10px;
        .kefu-day {
          color: #999;
          font-size: 12px;
          text-align: right;
          float: right;
        }
        .kefu-phone {
          color: #008cff;
          font-size: 25px;
          text-align: right;
          float: right;
        }
        .kefu-online {
          display: block;
          width: 80px;
          height: 30px;
          line-height: 30px;
          color: #fff;
          font-size: 14px;
          text-align: center;
          background-color: #008cff;
          float: right;
          padding: 0 10px;
          border-radius: 15px;
        }
      }
    }

    .footer-hr {
      margin: 10px auto 28px;
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #eee;
      padding: 0;
      margin-top: 10px;
      margin-bottom: 28px;
    }

    .footer-info {
      width: 1260px;
      height: 18px;
      position: relative;
      .footer-info-ul {
        color: #999;
        li {
          float: left;

          .footer-info-line {
            margin: 0 15px;
          }
        }
      }
      img {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .footer-href {
      padding-top: 8px;
      color: #999;
      a {
        color: #999;
      }
    }
  }
}
