@mixin aligncenter {
  margin: 0 auto;
}

@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
$pcolor: #515151;
$fontf: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun,
  Heiti, sans-serif;
.whitebg {
  background-color: #fff;
}
.notshow {
  display: none;
}
.top {
  @include clearfix;
  .topwrap {
    @include clearfix;
    position: relative;

    .top-img-container {
      width: 100%;
      height: 670px;
      .swiper-wrapper {
        width: 100%;
        height: 670px;
        .swiper-slide {
          position: relative;
          overflow: hidden;
          img {
            width: auto;
            height: 670px;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
          }
        }
      }
      .swiper-pagination {
        margin-bottom: 20px;
        margin-right: 100px;
      }
    }
    .top-nav-wrap {
      width: 100%;
      height: 80px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      .top-nav {
        width: 1240px;
        height: 80px;
        @include aligncenter;
        .top-nav-left {
          width: auto;
          height: auto;
          float: left;
          svg {
            width: 125px;
            height: 80px;
          }
        }
        .top-nav-right {
          width: auto;
          height: 80px;
          float: right;
          .top-nav-right-uldown {
            .top-nav-right-ul {
              width: 800px;
              height: 80px;
              line-height: 80px;
              float: left;
              .navitem {
                width: auto;
                height: 80px;
                float: left;
                a {
                  font-size: 14px;
                  // color: #fff;
                  color: #515151;
                  padding: 31px 20px 30px 20px;
                  font-family: $fontf;
                  &:hover {
                    color: #008cff;
                  }
                }
              }
            }
            .hoverdownwrap {
              width: 100%;
              height: auto;
              position: absolute;
              top: 80px;
              left: 0px;
              z-index: 90;
              display: none;
              background-color: #fff;
              .hoverdown {
                width: auto;
                height: auto;
                margin-bottom: 10px;
                .hoverdown-content {
                  width: 1160px;
                  height: auto;
                  margin: 0 auto;
                  li {
                    width: 120px;
                    height: 180px;
                    margin: 0 11px;
                    float: left;
                    img {
                      width: 120px;
                      height: 120px;
                    }
                    p {
                      width: 120px;
                      height: 20px;
                      text-align: center;
                      color: $pcolor;
                      background-color: #0f0;
                      border: 1px solid #515151;
                    }
                  }
                }
                .the9 {
                  width: 1260px;
                  img {
                    width: 1260px;
                    height: 305px;
                  }
                }
              }
            }
          }
          .top-nav-right-inp {
            float: left;
            width: 170px;
            height: 30px;
            border: 1px solid #999;
            border-radius: 20px;
            margin: 23px 5px 0 10px;
            line-height: 29px;
            background-color: #fff;
            position: relative;

            input {
              width: 127px;
              height: 20px;
              border: none;
              font-size: 12px;
              box-sizing: border-box;
              position: absolute;
              top: 5px;
              left: 13px;
            }
            i {
              position: absolute;
              top: 8px;
              right: 12px;
              font-size: 15px;
              color: #515151;
            }
          }
          .top-nav-right-people {
            float: left;
            width: 29px;
            height: 29px;
            padding-top: 29px;
            margin-left: 8px;
            i {
              font-size: 20px;
              color: #fff;
              color: #515151;
            }
          }
          .top-nav-right-buycar {
            float: left;
            width: 29px;
            height: 29px;
            padding-top: 29px;
            margin-left: 8px;
            i {
              font-size: 20px;
              color: #fff;
              color: #515151;
            }
          }
        }
      }
    }
  }
}
.adwrap {
  width: 100%;
  height: 186px;
  padding: 45px 0;
  .ad {
    width: 1240px;
    margin: 0 auto;
    .ad-item {
      width: 310px;
      height: 186px;
      float: left;
      img {
        display: block;
        width: 130px;
        height: 130px;
        margin: 0 auto;
      }
      h3 {
        width: 310px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        font-family: $fontf;
        text-align: center;
        color: #333;
      }
      p {
        width: 310px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        font-family: $fontf;
        text-align: center;
        color: #999;
      }
    }
  }
}

.section {
  width: 100%;
  height: auto;
  @include clearfix;
  background-color: #f4f4f4;
  h3 {
    font-size: 30px;
    font-family: $fontf;
    text-align: center;
    padding: 45px 0 10px 0;
    background-color: #f4f4f4;
  }
  .secimg {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .section-center {
    width: 1260px;
    height: auto;
    margin: 0 auto;
    .twoshow {
      margin-top: 15px;
      overflow: hidden;
      .twoshow-goods {
        width: 615px;
        height: 610px;
        background-color: #fff;
        float: left;
        margin-right: 12px;
        .goodstit {
          width: 100%;
          height: 103px;
          margin-top: 45px;
          .goods-name {
            width: 650px;
            height: 41px;
            text-align: center;
            font-size: 28px;
            font-family: $fontf;
            color: #333;
          }
          .goods-desc {
            width: 100%;
            height: 26px;
            text-align: center;
            font-size: 18px;
            font-family: $fontf;
            color: #333;
          }
          .goods-price {
            width: 100%;
            height: 32px;
            text-align: center;
            font-size: 22px;
            font-family: $fontf;
            color: #cc0000;
          }
        }

        img {
          display: block;
          width: 460px;
          height: 460px;
          margin: 0 auto;
          margin-top: -15px;
        }
      }
    }
    .fourshow {
      width: 100%;
      height: 375px;

      margin-top: 15px;
      .fourshow-goods {
        width: 303px;
        height: 375px;
        margin-right: 10px;
        float: left;
        background-color: #fff;
      }
    }
  }
}
